.main-contact{
    height: 100vh;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 25%;
}

.main-contact h2{
    color: white;
}

.main-contact p{
    color: white;
}

.main-contact ul{
    display: flex;
    margin:0px;
    padding: 0px;
    padding-top:10px;
}

.main-contact ul li{
    text-decoration: none;
    list-style-type: none;
    margin-right: 10px;
}

.Github svg, .Email svg, .LinkedIn svg{
    color:white;
    stroke: white;
    fill: white;
    width:30px;
}