.navbar{
    display: inline-block;
    width:100%;
  }
  
  .navbar ul, .navbar ul li a{
    list-style-type: none;
    color: whitesmoke;
    display: inline-flex;
    justify-content: space-evenly;
    text-decoration: none;
  }
  .navbar ul li{
    margin:0 10px 0 10px
  }
  
  .navbar button{
    float: right;
    margin: 1em;
    margin-right: 25px;
    color: whitesmoke;
    background-color: #1c1c1c;
    border:1px solid white;
    border-radius: 10px;
  }