  .navbar{
    display: inline-block;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #1c1c1c;
    z-index: 1;
    animation-name: trial;
    animation-duration: 5s;
  }
  .navbar > div{
    display: inline;
  }
  .navbar div ul, .navbar div ul li a{
    list-style-type: none;
    color: whitesmoke;
    display: inline-flex;
    justify-content: space-evenly;
    text-decoration: none; 
  }
  .navbar div ul li{
    margin:0 10px 0 10px;
  }
  .navbar div ul li a::before{
    transition: all ease-in-out .2s;
    border-bottom:1px solid #ffffff;
    content: "";
    display: block;
    height: 2px;
    width: 0;
  }
  .navbar div ul li a:hover::before{
    /* text-decoration: underline; */
    width: 100%;
  }
  .navbar div ul li svg{
    width:75px;
    height:75px;
  }
  
  .navbar button{
    float: right;
    margin: 1em;
    margin-right: 25px;
    color: whitesmoke;
    background-color: #1c1c1c;
    border:1px solid white;
    border-radius: 10px;
  }

  @keyframes trial {
    from {top: -100px;}
    to {top:0px}
  }
  @keyframes borderHover {
    from {text-decoration: none;}
    to{text-decoration: underline;}
  }
  .navbar svg{
    width:9%;
    height:55px;
    margin-left:10px;
    margin-top:10px;
  }
  @media screen and (max-width: 600px) {
    .navbar-list{
      display: block !important;
    }
    .navbar-list li{
      padding-top:10px;
      padding-bottom: 10px;
    }
    .navbar svg{
      width:20%;
      height:55px;
    }
    .hide{
      display: none !important;
    }
    .showdiv{
      display: block !important;
      height:100vh;
    }
    .hidediv{
      display: none;
      height: 0px;
    }
    .hamburger-menu{
      float: right;
    }
  }