.main{
    color:white;
    font-size: 20px;
    display: grid;
    grid-template-columns: 70% 30%;
    height:75vh;
    animation-name: aboutme;
    animation-duration: 5s;
    padding-top: 10%;
}
.main p{
    margin-left:12%;
    margin-top:0px;
}
.img-container{
    margin-top: 10%;
    margin-left:10%;
}
.img-container img{
    width:60%;
    border-radius: 100%;
} 

@media screen and (min-width: 1500px) {
    .text-container{
        margin-top: 5%;
        margin-left: 10%;
    }
}


@media screen and (max-width: 600px) {
    .main{
        display: block;
        height: 150vh;
        padding-top: 20%;
    }
    .img-container{
        margin-left: 16%;
        margin-top: 10%;
        justify-items: center;
        display: flex;
    }
    .img-container img{
        width:80%;
    }
}

@media screen and (max-width: 800px) {
    .main{
        display: block;
        height: 150vh;
        margin-right: 10%;
    }
}

@keyframes aboutme {
    from {opacity: 0;}
    to{opacity: 1;}
}