.Intro{
    height:75vh;
    margin-top:20%;
    display: block;
    animation-name: intro;
    animation-duration: 5s;
}

.Intro p{
    color: white;
    margin-left:15%;
    margin-right:15%;
    margin-bottom: 0px;
    margin-top: 0px;
}
.first{
    font-size: 20px;
}

.full-name{
    font-size: 70px;
}

.job-profile{
    font-size: 55px;
}

@keyframes intro {
    from{opacity: 0;}
    to{opacity: 1;}
}

@media screen and (max-width: 600px) {
    .Intro{
        margin-top: 25%;
    }
}